<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Form</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="d-flex align-items-center justify-content-between mb-4"> 
            <h1 class="mb-4">Create Form</h1>
            <button type="button" class="btn btn-secondary" onclick="window.history.back();">Back</button>
        </div>
        <form action="/admin/books/create" method="post">
            <div class="mb-3">
                <label for="name" class="form-label">Book Name:</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="mb-3">
                <label for="publisher_id" class="form-label">Publisher:</label>
                <input type="number" class="form-control" id="publisher_id" name="publisher_id" required>
            </div>
            <div class="mb-3">
                <label for="author_id" class="form-label">Author:</label>
                <input type="text" class="form-control" id="author_id" name="author_id" required>
            </div>
            <div class="mb-3">
                <label for="category_id" class="form-label">Category:</label>
                <input type="text" class="form-control" id="category_id" name="category_id" required>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price:</label>
                <input type="number" class="form-control" id="price" name="price" required>
            </div>
            <div class="mb-3">
                <label for="publication_year" class="form-label">Publication Year:</label>
                <input type="number" class="form-control" id="publication_year" name="publication_year" required>
            </div>
            <div class="mb-3">
                <label for="number_of_publication" class="form-label">Number of Publication:</label>
                <input type="text" class="form-control" id="number_of_publication" name="number_of_publication" required>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-success">Create</button>
            </div>
        </form>
    </div>
</body>
</html>